body {
  background-color: rgb(73, 73, 73);
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

/* SCOREBOARD */
.score-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h2 {
  font-size: 80px;
}
h1, h2{
  color: white;
}
.score-team {
  margin: 0px 20px;
  background-color: beige;
  text-align: center;
  width: 370px;
  height: 300px;
  font-size: 200px;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
}
.minus-buttons, .add-buttons {
  font-size: 30px;
  width: 30px;
  height: 20px;
  padding: 0px 10px;
  flex-direction: column;
}
.team-a, .team-b {
  display: flex;
  justify-content: center;
}
.period {
  background-color: beige;
  width: 150px;
  font-size: 60px;
  align-items: center;
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
}
.period-buttons {
  display: flex;
  justify-content: space-around;
}
