body {
  /* background-color: rgb(73, 73, 73); */
  background-color: rgb(124, 124, 124);
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.middle {
  display: block;
}

/* SCOREBOARD */
.score-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h2 {
  font-size: 80px;
}
h1, h2{
  color: white;
}
.team-name {
  margin: 20px 0px;
}
.score-team {
  margin: 0px 20px;
  color: red;
  background-color: black;
  text-align: center;
  width: 370px;
  height: 300px;
  font-size: 200px;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
}
.minus-buttons, .add-buttons {
  font-size: 30px;
  width: 30px;
  height: 20px;
  padding: 0px 10px;
  flex-direction: column;
  justify-content: space-around;
}
.score-buttons {
  margin: 30px 5px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border-color: black;
  color: black;
  background-color: grey;
  box-shadow: 0px 5px 1px rgb(22, 22, 22);
}
.add-buttons .score-buttons {
  background-color: rgb(0, 98, 0);
  color: white;
}
.minus-buttons .score-buttons {
  background-color: rgb(133, 0, 0);
  color: white;
}
.score-buttons:hover {
  cursor: pointer;
  transform: translate(0px, 2px);
}
.team-a, .team-b {
  display: flex;
  justify-content: center;
}

/* PERIOD */
.period-container {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.period {
  color: red;
  background-color: black;
  width: 150px;
  font-size: 60px;
  margin: 10px auto;
  font-family: 'Roboto Mono', monospace;
}
.period-buttons {
  display: flex;
  justify-content: space-between;
}

/* POSSESSION */
.possession-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  color: white;
}
.poss-label {
  margin: auto;
  font-size: 30px;
}
.poss-left, .poss-right {
  width: 70px;
  height: 70px;
  border: black solid;
  border-radius: 50%;
  background-color: grey;
  ;
  margin: 0px 10px;
}

/* ARROWS */
.arrows {
  display: flex;
  justify-content: center;
}
.arrows div {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border-color: black;
  background-color: grey;
  box-shadow: 0px 5px 1px rgb(22, 22, 22);
}
.arrow-left, .arrow-right {
  text-align: center;
  vertical-align: middle;
  border: black solid;
  /* justify-content: center; */
}
.arrow-right {
  margin-left: 10px;
}
.arrows div:hover {
  background-color: beige;
  cursor: pointer;
  transform: translate(0px, 2px);
}
/* BOTTOM CONTAINER */
.bottom-container {
  margin-top: 50px;
}
/* TIMEBOX */
.timebox {
  margin: auto;
  width: 40%;
  height: 80%;
  background-color: black;
  color: red;
  font-size: 150px;
  font-family: 'Roboto Mono', monospace;
}
.time-buttons {
  display: flex;
  justify-content: center;
}